    .gameArea {
      border: 10px groove whitesmoke;
      background-color: black;
      height: 680 px;
          }
    
    canvas {
      border: solid 1px black;
      background:#8aad63
    }
    
    piece1 {
background-color: blue
    }